# application.yaml
management:
  endpoints:
    web:
      exposure:
        include: configprops,env
  endpoint:
    configprops:
      show-values: never
server:
  port: 8088
spring:
  application:
    name: GatewayService
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: songs
              uri: ${SERVICE_SONG_LB:http://localhost:8081}
              predicates:
                - Path=/songs,/songs/{id}

            - id: resources
              uri: ${SERVICE_RESOURCE_LB:http://localhost:8080}
              predicates:
                - Path=/resources,/resources/{id}
#logging:
#  level:
#    org.springframework.cloud.gateway: TRACE
#    org.springframework.http.server.reactive: DEBUG
#    org.springframework.web.reactive: DEBUG
#    reactor.ipc.netty: DEBUG
#    reactor.netty: DEBUG
#    org.springframework.boot.context.config: DEBUG

eureka:
  instance:
    # Frequency of heartbeats sent by the client to the server
    lease-renewal-interval-in-seconds: 5
  client:
    # Frequency of registry data retrieval from the server to the client's local cache
    registry-fetch-interval-seconds: 5
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}


